@media only screen and (min-device-width : 280px) and (max-device-width : 1023px) {
    .recommended {
        width: 100%;
        overflow: auto;
        margin: 20px 0;
    }
    .inspiration {
        margin: 25px 3%;
        width: 94%;
        height: 350px;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
        position: relative;
    }
    .inspiration img {
        width: 118%;
        margin-left: -5%;
    }
    .recommended-desc {
        font-size: 1em;
        position: absolute;
        z-index: 100;
        top: 20%;
    }
}
@media only screen and (min-device-width: 1024px) {
    .recommended {
        width: 100%;
        overflow: auto;
        display: flex;
        margin: 20px 0;
    }
    .inspiration {
        margin: 5px;
        width: 33%;
        height: 250px;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
        position: relative;
    }
    .inspiration img {
        width: 105%;
    }
    .recommended-desc {
        font-size: 0.8em;
        position: absolute;
        z-index: 100;
        top: 20%;
    }
}